* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

.carousel-item img {
  max-height: 700px; /* ajustá el valor según lo que quieras */
  object-fit: cover; /* recorta la imagen sin deformarla */
}

.card img {
  max-height: 250px; /* ajustá a tu gusto */
  object-fit: cover; /* recorta sin deformar */
}

.navbar .nav-link {
  color: green;
}

.navbar .nav-link:hover {
  color: brown;
}

.navbar .nav-link.active {
  color: orange;
}

.formulario-contacto {
  max-width: 600px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(10, 83, 22, 0.9);
  color: white;
}

.contenedor-formulario {
  padding: 20px;
  background-image: url("../assets/San Francisco/San Francisco 29.jpg"); /* ruta relativa */
  background-size: cover; /* hace que cubra todo el contenedor */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
}

.form-text {
  color: antiquewhite;
}

.card-body-individual {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  color:darkgreen;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.card.text-center-individual {
border: none;
}

.header-somos h1 {
  font-family: 'Luckiest Guy', cursive;
  color: darkgreen;
  text-align: center;
  padding: 10px;
}

.header-somos p {
  font-family: 'Montserrat Alternates', sans-serif;
  color: brown;
  text-align: center;
  padding: 10px;
} 

.tarjeta-familia p {
  font-family: 'Montserrat Alternates', sans-serif;
  color: darkgreen;
  text-align: center;
  padding: 10px;
}

.tarjeta-familia {
  border-color: orange;
}

.hero-quebrada {
  background-image: url("../assets/Hornocal.JPG"); /* ruta relativa */
  background-size: cover; /* hace que cubra todo el contenedor */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
  color: white;
  padding: 100px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* sombra para mejorar la legibilidad */
}

.hero-quebrada {
  position: relative;
  z-index: 1;
}

.hero-quebrada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* blanco con 50% opacidad */
  z-index: -1;
}

.hero-yungas {
  background-image: url("../assets/yungas.jpg"); /* ruta relativa */
  background-size: cover; /* hace que cubra todo el contenedor */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
  color: white;
  padding: 100px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* sombra para mejorar la legibilidad */
}

.hero-yungas {
  position: relative;
  z-index: 1;
}

.hero-yungas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* blanco con 50% opacidad */
  z-index: -1;
}