// sass/components/_navbar.scss
@use 'variables' as *;

.navbar {
  .nav-link {
    color: $color-primary;

    &:hover {
      color: $color-brown;
    }

    &.active {
      color: $color-orange;
    }
  }
}