// sass/components/_forms.scss
.formulario-contacto {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 2px solid $color-white;
  border-radius: 5px;
  background-color: rgba(10, 83, 22, 0.9);
  color: $color-white;
}

.contenedor-formulario {
  padding: 20px;
  background-image: url(#{$img-san-francisco});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-text {
  color: $color-antique;
}